div.caro {
  margin: 0;
  padding: 0;
  width: 100%;

  h2 {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 50px;
  }
}

div.img1 {
  background-image: url('../images/carosell/1.jpg');
  height: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

div.img2 {
  background-image: url('../images/carosell/2.jpg');
  height: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

div.img3 {
  background-image: url('../images/carosell/3.jpg');
  height: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

div.img4 {
  background-image: url('../images/carosell/4.jpg');
  height: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

div.img5 {
  background-image: url('../images/carosell/5.jpg');
  height: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

ul.slick-dots {
  margin-top: 50px;

  li {
    margin-left: 25px;
    margin-right: 25px;

    button::before {
      font-size: 20px;
      color: #E1528D;
      opacity: 1;
    }
  }
}