div.whyUs {
  margin-top: 8px;
  margin-bottom: 80px;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 150vh;

  text {
    color: white;
    font-size: 40px;
  }

  div.articles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h1 {
      font-size: 35px;
      text-align: center;
    }
  }

  div.art1 {
    height: 120%;

    i {
      font-size: 80px;
    }
  }

  div.artB {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    div {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 60%;

      h2 {
        font-size: 30px;
        text-align: center;
      }

      p {
        font-size: 30px;
        display: block;
        width: 100%;
        margin-left: 5%;
      }
    }
  }

  i.fas {
    padding: 20px;
    font-size: 60px;
    color: #E1528D;
    border: 6px solid violet;
    border-radius: 50%;
    transition: .3s;
  }

  i:hover {
    background-color: #aE1172;
    color: white;
    border: 6px solid #8E1172;
  }
}



div.inner {
  p {
    text-align: center;
  }
}

div.caro {
  margin: 0;
  padding: 0;
  width: 100%;

  h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 35px;
    margin-bottom: 4vh;
  }
}

div.mySlideshow {
  height: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

div.img1 {
  background-image: url('../images/carosell/1.jpg');
}

div.img2 {
  background-image: url('../images/carosell/2.jpg');
}

div.img3 {
  background-image: url('../images/carosell/3.jpg');
}

div.img4 {
  background-image: url('../images/carosell/4.jpg');
}

div.img5 {
  background-image: url('../images/carosell/5.jpg');
}

ul.slick-dots {
  margin-top: 50px;

  li {
    margin-left: 25px;
    margin-right: 25px;

    button::before {
      font-size: 20px;
      color: #E1528D;
      opacity: 1;
    }
  }
}