div.nav {
  position: relative;
  padding: 20px 12% 20px 12%;
  border: 4px solid rgb(153, 55, 132);
  background-image: url("../images/nav.jpg");
  position: sticky;
  top: 0;
  opacity: 1;
  margin-bottom: 30px;
  z-index: 1;

  .toolbar__navigation {
    display: flex;
    justify-content: center;

    div.toolbar__logo {

      a {
        color: white;
        text-decoration: none;
        font-family: 'Great Vibes';
        font-size: 45px;
      }
    }

    div.toolbar-navigation-items {
      flex-grow: 1;

      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        li a {
          display: block;
          background: #fff;
          border-radius: 25px;
          border: 4px solid #8E1172;
          color: black;
          padding: 14px 20px;
          transition: .3s;
          text-transform: uppercase;
          text-decoration: none;
          font-family: 'Montserrat', sans-serif;
          font-weight: bold;
        }


        a:hover {
          background-color: #8E1172;
          border: 4px solid white;
          color: white;
        }
      }

      a.active {
        background-color: #8E1172;
        border: 4px solid white;
        color: pink;
      }
    }
  }
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .toggle-button {
    display: flex;
    flex-direction: column;
    height: 45px;
    width: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-around;
    align-content: center;
    transform: translateY(-5%);
  }
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 30px;
  height: 4px;
  background: white;
}

.side-drawer {
  height: 330px;
  background-color: #8E1172;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 84px;
  left: 0;
  width: 50%;
  z-index: 200;
  border-bottom-right-radius: 20px;
  transform: translateX(-104%);
  transition: transform .3s ease;
}

.side-drawer.open {
  transform: translateX(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  li {
    text-align: center;
    cursor: pointer;

    a {
      display: block;
      text-align: center;
      cursor: pointer;
      padding: 10px 2px;
      width: 100%;
      color: white;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-size: 25px;
      text-transform: uppercase;
    }

    a:nth-child(2) {
      padding: 10px 100%;
    }
  }

  li:nth-child(5) {
    border-bottom: none;
  }
}

.side-drawer a:hover,
.side-drawer a:active {
  color: white;
}

.spacer {
  flex: 1;
  display: none;
}


@media (max-width: 1024px) {
  .toolbar-navigation-items {
    display: none;
  }

  div.toolbar__logo {
    display: inline-block;
    margin-left: 20px;
  }

  .spacer {
    flex: 1;
    display: block;
  }

  div.nav {
    position: fixed;
    padding: 10px 4% 10px 4%;
    width: 100%;
  }
}

@media (min-width: 1025px) {
  .toolbar__logo {
    display: none;
  }

  .side-drawer {
    display: none;
  }

  .toggle-button {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .side-drawer {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .side-drawer {
    width: 70%;
  }
}

@media (max-width: 420px) {
  .side-drawer {
    width: 85%;
  }
}