div.offer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;


  div.mainOffer {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;

    h1 {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      font-size: $fontSize_h1;
      color: #6E1172;
    }
  }

  div.offers {
    display: flex;
    flex-wrap: wrap;


    div.offer1 {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      width: 49%;

      ul {
        margin-top: 20px;
        width: 80%;

        p.title {
          text-align: center;
          font-size: $fontSize_p;
          color: #6E1172;
          text-transform: uppercase;
          border-bottom: 2px solid #6E1172;
        }

        li {
          list-style: none;
          border: 2px solid transparent;
          display: flex;
          flex-direction: row;
          margin: 8px 0;
          transition: .3s;
          border: 1px solid transparent;
          border-radius: 20px;
          cursor: pointer;

          div {
            width: 49%;

            p {
              text-align: center;
              font-family: 'Montserrat', sans-serif;
              font-size: 19px;
              color: #6E1172;
            }
          }
        }

        li:hover {
          background-color: rgb(255, 195, 221);
          transform: translateX(10px);
          border: 1px solid #EE1172;
        }
      }
    }
  }
}