div.offer {
  @media (min-width: 1024px) {
    padding-top: 100px;
  }
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;

  div.mainOffer {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;

    h1 {
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-size: $fontSize_h1;
      color: #6e1172;
    }
  }

  div.offers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div.offer1 {
      display: flex;
      justify-content: center;
      width: 44%;
      border: 4px solid #8e1172;
      border-radius: 20px;
      margin: 20px 20px;
      padding: 20px 20px;

      ul {
        margin: auto auto;
        width: 85%;

        p.title {
          text-align: center;
          font-size: $fontSize_p;
          color: #6e1172;
          text-transform: uppercase;
          border-bottom: 2px solid #6e1172;
        }

        li {
          list-style: none;
          border: 2px solid transparent;
          display: flex;
          flex-direction: row;
          margin: 8px 0;
          transition: 0.3s;
          border: 1px solid transparent;
          border-radius: 20px;
          cursor: pointer;

          div {
            width: 49%;

            p {
              text-align: center;
              font-family: "Montserrat", sans-serif;
              font-size: 19px;
              color: #6e1172;
            }
          }
        }

        li:hover {
          background-color: rgb(255, 195, 221);
          transform: translateX(10px);
          border: 1px solid #ee1172;
        }
      }
    }
  }
}

@media (max-width: 835px) {
  div.offer1 {
    width: 90% !important;
  }
}

@media (max-width: 460px) {
  div.offer1 {
    margin-left: 5px !important;
    margin-right: 5px !important;
    width: 100% !important;
  }
}

@media (max-width: 340px) {
  div.offer1 {
    ul {
      width: 100% !important;
    }
  }
}
